section.about-section
  .wrapper
    .about-section__container
      h2.about-section__title.font-w-bold.font-s-52
        | «VolgaArt»: помогаем клиентам 
        br.no-br
        | гордиться своими творческими 
        br.no-br
        | достижениями
      .about-section__owner-block
        img.about-section__img-owner(src="images/about-section-image-owner.png" loading="lazy" width="280" height="280" alt="image")
        .about-section__owner-text
          .font-w-medium.font-s-18.color-red Кислова Вера Витальевна,
          .font-s-18 Основательница франшизы
      .about-section__text.font-s-18
        span.font-w-medium
          | «Миссия художественной студии Volga Art состоит 
          br.no-br
          | в предоставлении доступного и понятного пошагового обучения 
          br.no-br
          | в формате мастер-классов для людей всех возрастов.
        br
        br
        | Наша главная задача — помочь клиентам гордиться своими 
        br.no-br
        | творческими достижениями, полученными благодаря 
        br.no-br
        | руководству опытных педагогов. Мы хотим, чтобы именно у нас, 
        br.no-br
        | каждый ученик смог найти вдохновение и поддержку в своей 
        br.no-br
        | самореализации.
        br
        br
        | Занятия проводятся с использованием авторской программы, 
        br.no-br
        | которая предлагает большое разнообразие направлений и техник. 
        br.no-br
        | Мы проводим мастер-классы в самых разных жанрах и всегда 
        br.no-br
        | работаем, как над теорией, так и над практикой. С каждого 
        br.no-br
        | занятия наши ученики уходят с готовыми картинами!
        br
        br
        | Вместе с нами вы запустите работу собственной художественной 
        br.no-br
        | студии, избежав многих ошибок! Мы поможем вам выбрать 
        br.no-br
        | лучшую локацию, правильно оформить и оборудовать помещение 
        br.no-br
        | и передадим проверенные маркетинговые инструменты для 
        br.no-br
        | привлечения клиентов. Открыв студию по нашей франшизе 
        br.no-br
        | вы получите готовое решение и сможете быстро достигнуть 
        br.no-br
        | желаемых результатов, занимаясь любимым делом!»
      form.about-section__form(data-feedback-form)
          input.input.input--secondary.about-item-answer(type="text" name="answer" autocomplete="off" placeholder="Текст вопроса")
          input.input.input--secondary.about-item(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input.input--secondary.about-item(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn.about-item(type="submit") Задать вопрос
      img.about-section__img(src="images/about-section-img.png" loading="lazy" width="1484" height="1940" alt="image")
      img.about-section__mark-line(src="images/mark-line-about.svg" loading="lazy" width="488" height="96" alt="icon")
