section.finances-section
  .wrapper
    .finances-section__container
      h2.finances-section__title.font-s-52.font-w-bold
        | Начните свой бизнес 
        br.no-br
        | в креативной индустрии
      .finances-section__sub-title.font-s-24
        | Показатели, на которые вы можете рассчитывать, 
        br.no-br
        | став партнером «VolgaArt»:
      .swiper-finances
        .finances-section__cards.swiper-wrapper
          .finances-section__card.swiper-slide
            img.finances-section__card-img(src="images/finances-section-card-image-1.jpg" loading="lazy" width="760" height="520" alt="image")
          .finances-section__card.finances-card-red.swiper-slide
            img.finances-section__card-icon(src="images/finances-section-card-icon-1.svg" loading="lazy" width="46" height="46" alt="icon")
            .finances-section__card-title.font-w-medium.font-s-40 с 1 месяца
            .font-w-regular.font-s-18 вы начнете <br> зарабатывать
          .finances-section__card.finances-card-blue.swiper-slide
            img.finances-section__card-icon(src="images/finances-section-card-icon-2.svg" loading="lazy" width="46" height="46" alt="icon")
            .finances-section__card-title.font-w-medium.font-s-40 3 000 рублей
            .font-w-regular.font-s-18 средний чек одного <br> клиента
          .finances-section__card.finances-card-blue.swiper-slide
            img.finances-section__card-icon(src="images/finances-section-card-icon-3.svg" loading="lazy" width="46" height="46" alt="icon")
            .finances-section__card-title.font-w-medium.font-s-40 от 90 продаж
            .font-w-regular.font-s-18 вы будете делать <br> ежемесячно
          .finances-section__card.finances-card-sky-blue.swiper-slide
            img.finances-section__card-icon(src="images/finances-section-card-icon-4.svg" loading="lazy" width="46" height="46" alt="icon")
            .finances-section__card-title.font-w-medium.font-s-40 349 000 рублей
            .font-w-regular.font-s-18 ежемесячная <br> выручка
          .finances-section__card.swiper-slide
            img.finances-section__card-img(src="images/finances-section-card-image-2.jpg" loading="lazy" width="760" height="520" alt="image")
          .finances-section__card.swiper-slide
            img.finances-section__card-img(src="images/finances-section-card-image-3.jpg" loading="lazy" width="760" height="520" alt="image")
          .finances-section__card.finances-card-red.swiper-slide
            img.finances-section__card-icon(src="images/finances-section-card-icon-5.svg" loading="lazy" width="46" height="46" alt="icon")
            .finances-section__card-title.font-w-medium.font-s-40 58,1%
            .font-w-regular.font-s-18 рентабельность <br> по чистой прибыли
          .finances-section__card.finances-card-sky-blue.swiper-slide
            img.finances-section__card-icon(src="images/finances-section-card-icon-6.svg" loading="lazy" width="46" height="46" alt="icon")
            .finances-section__card-title.font-w-medium.font-s-40 203 000 рублей
            .font-w-regular.font-s-18 ежемесячная <br> чистая прибыль
        .finances-pagination.swiper-progress-finances
      img.finances-section__mark-line(src="images/finances-mark-line.svg" loading="lazy" width="683" height="96" alt="icon")
