footer.footer
  .footer__container
    .footer__brand.font-s-16 Франшиза <br> художественной студии, 2024 г.
    img.footer__logo(src="images/footer-logo.png" loading="lazy" width="160" height="160" alt="logo")
    .footer__connection
      a(href="tel:+79990000000")
        img.footer__connection-icon(src="images/connection-icon.svg" loading="lazy" width="16" height="16" alt="icon")
      include ../components/phone-number.pug
    a.footer__privacy.font-s-16(href="#" data-remodal-target="privacy").agree-privacy Политика конфедициальности

      //- .footer__brand
      //-   .footer__brand-name
        //- .footer__call-me.font-w-bold.font-s-16(data-remodal-target="modal-form-call-me") Заказать звонок
