section.start-section
  .wrapper
    .start-section__container
      h2.start-section__title.font-w-bold.font-s-52
        | Как мы поможем 
        br.no-br
        | вам на старте?
      .swiper-start
        .start-section__items.swiper-wrapper
          .start-section__item.swiper-slide
            img.start-section__item-icon(src="images/start-section-item-icon.svg" loading="lazy" width="22" height="22" alt="icon")
            .font-s-20 Поможем собрать сильную команду <br> профессионалов
          .start-section__item.swiper-slide
            img.start-section__item-icon(src="images/start-section-item-icon.svg" loading="lazy" width="22" height="22" alt="icon")
            .font-s-20 Проведем 7-ми дневное обучение <br> для вас и ваших педагогов
          .start-section__item.swiper-slide
            img.start-section__item-icon(src="images/start-section-item-icon.svg" loading="lazy" width="22" height="22" alt="icon")
            .font-s-20 Передадим авторскую программу <br> обучения для проведения занятий
          .start-section__item.swiper-slide
            img.start-section__item-icon(src="images/start-section-item-icon.svg" loading="lazy" width="22" height="22" alt="icon")
            .font-s-20 Дадим рекомендации по выбору локации <br> и помещения
          .start-section__item.swiper-slide
            img.start-section__item-icon(src="images/start-section-item-icon.svg" loading="lazy" width="22" height="22" alt="icon")
            .font-s-20 Поможем оборудовать и оформить <br> студию в фирменном стиле
          .start-section__item.swiper-slide
            img.start-section__item-icon(src="images/start-section-item-icon.svg" loading="lazy" width="22" height="22" alt="icon")
            .font-s-20 Дадим рекомендации по ведению <br> социальных сетей
          .start-section__item.swiper-slide
            img.start-section__item-icon(src="images/start-section-item-icon.svg" loading="lazy" width="22" height="22" alt="icon")
            .font-s-20 Поделимся проверенными методами <br> привлечения клиентов
          .start-section__item.swiper-slide
            img.start-section__item-icon(src="images/start-section-item-icon.svg" loading="lazy" width="22" height="22" alt="icon")
            .font-s-20 Предоставим готовый план <br> торжественного открытия студии
          .start-section__item.swiper-slide
            img.start-section__item-icon(src="images/start-section-item-icon.svg" loading="lazy" width="22" height="22" alt="icon")
            .font-s-20 Добавим в закрытое сообщество <br> партнеров сети
        .start-pagination.swiper-progress-start
      img.start-section__img-smear(src="images/start-section-img-smear.png" loading="lazy" width="1463" height="1734" alt="image")
      img.start-section__img(src="images/start-section-img.png" loading="lazy" width="1386" height="1720" alt="image")
      img.start-section__mark-line(src="images/mark-line-start.svg" loading="lazy" width="488" height="96" alt="icon")