.thanks-section
  display: flex
  flex-direction: column
  justify-content center
  align-items: center
  height: 100%

  &__container
    padding 0 15px
    max-width: 850px
    margin: 0 auto
    text-align: center

  &__inner-text
    padding: 20px 0 40px 0

  &__container a
    max-width 300px
    margin: 0 auto

.thanks-page
  background-image: url('../images/main-section-bg.jpg')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  background-color #f9f9f9

.wrapper-header-thanks
  padding 20px 0

.wrapper-footer-thanks
  padding 20px 0

